body {
    background-color: grey;
}
.projectContainer {
    margin-top: 2%;
    margin-bottom: 2%;
}

nav{
    background-color: #B80F0A !important;
    opacity: .9;
}
.carousel-inner img{
    width:100%;
    max-height: 500px !important;
    border: 2px solid black;
    border-radius: 7px;
  }
  .carousel-caption {
    width: 70% !important;
    height:30% !important;
    min-height: 30% !important;
    max-height: 30% !important;
    background-color: grey;
    opacity: .7;
    color: black;
    border-radius: 7px;
}
.carousel-caption:hover {
    opacity: .9;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}
footer {
    background-color: #B80F0A;
    color: white;
}
h1 {
    text-align: center;
}
ol {
    text-align: center; 
}
li {
    display: inline;
    padding: 5px; 
    color: white;
    
}
a {
    color: white;
}

footer {
    margin-bottom: auto;
    position: static;
}
footer ol {
    margin-bottom: -1rem;
}